Package: com.cuit.rootdaemonserver
Name: rootdaemonserver
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: panda
Author: panda
Section: System
Tag: role::hacker
